@charset "UTF-8";
/** Этот файл обнуляет стандартные отступы и отступы отступов,  */
/** устанавливает базовый размер шрифта в 100%,  */
/** убирает стили списков и т. д. */
/*! Reset styles */
/* *,
*::before,
*::after {
    box-sizing: inherit;
    box-sizing: border-box;
} */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
}

button:hover:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes pulse-button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: #26c6ea;
    border: 1px solid #26c6ea;
    background-color: #c33bde;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse-sneaker-after {
  0% {
    transform: translate(91%, -1px) rotate(-30deg);
  }
  50% {
    transform: translate(91%, -1px) rotate(-31deg);
  }
  100% {
    transform: translate(91%, -1px) rotate(-30deg);
  }
}
@keyframes pulse-sneaker-before {
  0% {
    transform: translate(166%, -100px) rotate(-37deg);
  }
  50% {
    transform: translate(164%, -101px) rotate(-38deg);
  }
  100% {
    transform: translate(166%, -100px) rotate(-37deg);
  }
}
body {
  font-family: "Roboto";
  color: #ffcdd5;
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
    max-width: 100vw;
    padding: 0 calc(25px + (100vw - 360px) * 0.2);
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 92px;
    max-width: 768px;
    padding: 0 100px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 100vw;
    padding: 0 calc(165px + (100vw - 1440px) * 0.2);
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #8e32c6;
}
.buttons:hover:not(:disabled) {
  animation-name: pulse-button;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.section-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
}

.header {
  padding-top: 91px;
  padding-bottom: 104px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100vw;
  background-color: rgba(2, 22, 53, 0.9);
  outline: 1px solid red;
}
@media screen and (min-width: 1440px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0;
    transform: translateX(0);
    max-width: 100%;
    border-bottom: 2px solid #FFFFFF;
    background-color: #012d63;
  }
}
.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
@media screen and (min-width: 1440px) {
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8%;
  }
}
@media screen and (min-width: 1440px) {
  .header .container .navigation {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.header .container .navigation .header-logo {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation .header-logo {
    display: block;
    flex-grow: 7;
    width: 100px;
    height: 60px;
    position: relative;
    opacity: 1;
  }
  .header .container .navigation .header-logo__img {
    position: absolute;
    top: 8px;
  }
}
.header .container .navigation .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation .nav-list {
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 29px;
  }
}
.header .container .navigation .nav-list__item:hover .nav-list__link {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .navigation .nav-list__link {
  color: #c7c7c7;
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.125;
  transition: transform, color, 300ms ease-in-out;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation .nav-list__link {
    line-height: 1.25;
  }
}
.header .container .navigation .nav-list__link--active {
  font-weight: 400;
  color: #FFFFFF;
}
.header .container .lang-list {
  padding: 10px;
  width: 101px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px #FFFFFF, 0px 0px 0px 1px #8e32c6;
}
.header .container .lang-list__item:hover .lang-list__link {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .lang-list__link {
  color: #dcdcdc;
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  color: #dcdcdc;
  transition: transform, color, 300ms ease-in-out;
}
.header .container .lang-list__link--active {
  font-weight: 400;
  color: #ffcdd5;
}

.hero {
  position: relative;
  background-image: url(../images/hero_background-1440.jpg);
  background-color: #012d63;
  background-repeat: no-repeat;
  background-position: center bottom 0;
  background-size: cover;
}
@media screen and (min-width: 1440px) {
  .hero {
    position: static;
    padding-top: 94px;
    padding-bottom: 273px;
    background-image: url(../images/hero_background-1440.jpg);
  }
}
.hero .container {
  position: relative;
  outline: 1px dashed yellow;
}
@media screen and (min-width: 1440px) {
  .hero::after {
    content: "";
    position: absolute;
    width: 837px;
    height: 403px;
    bottom: 0;
    right: 50%;
    background-image: url(../images/hero_background-sneaker.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: bottom left;
    transform: translate(91%, -1px) rotate(-30deg);
    animation-name: pulse-sneaker-after;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .hero::before {
    z-index: 1;
    content: "";
    display: none;
    position: absolute;
    width: 115px;
    height: 60px;
    bottom: 0;
    right: 50%;
    border-radius: 10px;
    background-image: url(../images/hero_background-sneaker.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom -35px right -72px;
    transform: translate(166%, -100px) rotate(-37deg);
    box-shadow: inset 17px 1px 24px 3px rgba(61, 61, 61, 0.2);
    animation-name: pulse-sneaker-before;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
.hero:hover::after, .hero:hover::before {
  animation-play-state: paused;
}
.hero .burger-menu-buttons {
  display: none;
}
@media screen and (max-width: calc(768px - 1px)) {
  .hero .burger-menu-buttons {
    z-index: 3;
    position: absolute;
    right: 25px;
    top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #8e32c6;
    stroke: #8e32c6;
    outline: 1px dashed wheat;
  }
}
@media screen and (min-width: 1440px) {
  .hero-logo {
    margin-left: 5px;
    display: block;
    width: 160px;
    height: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__logo-text {
    margin-top: -35px;
    margin-left: 30px;
    width: 178px;
    height: 86px;
    line-height: 1.4;
    font-family: "PT Serif";
    font-size: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    margin-top: -46px;
    margin-left: -9px;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 144px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title-second {
    margin-top: -36px;
    margin-bottom: 12px;
    margin-left: -1px;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 72px;
    line-height: 1.337;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    margin-bottom: 41px;
    margin-left: -1px;
    width: 508px;
    font-size: 18px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1440px) {
  .hero__button-link {
    width: 254px;
    height: 67px;
  }
}/*# sourceMappingURL=main-eng.css.map */