@charset "UTF-8";
/** Этот файл обнуляет стандартные отступы и отступы отступов,  */
/** устанавливает базовый размер шрифта в 100%,  */
/** убирает стили списков и т. д. */
/*! Reset styles */
/* *,
*::before,
*::after {
    box-sizing: inherit;
    box-sizing: border-box;
} */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
}

button:hover:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes pulse-button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: #26c6ea;
    border: 1px solid #26c6ea;
    background-color: #c33bde;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse-sneaker-after-mobile {
  0% {
    transform: translate(53%, 5px) rotate(-33deg);
  }
  50% {
    transform: translate(53%, 5px) rotate(-34deg);
  }
  100% {
    transform: translate(53%, 5px) rotate(-33deg);
  }
}
@keyframes pulse-sneaker-after-desktop {
  0% {
    transform: translate(91%, -1px) rotate(-30deg);
  }
  50% {
    transform: translate(91%, -1px) rotate(-31deg);
  }
  100% {
    transform: translate(91%, -1px) rotate(-30deg);
  }
}
@keyframes pulse-sneaker-before-desktop {
  0% {
    transform: translate(166%, -100px) rotate(-37deg);
  }
  50% {
    transform: translate(164%, -101px) rotate(-38deg);
  }
  100% {
    transform: translate(166%, -100px) rotate(-37deg);
  }
}
body {
  font-family: "Roboto";
  color: #FFFFFF;
}
@media screen and (max-width: calc(768px - 1px)) {
  body.no-scroll {
    overflow: hidden;
    pointer-events: none;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
    max-width: 360px;
    padding: 0 18px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 92px;
    max-width: 768px;
    padding: 0 100px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 165px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #8e32c6;
}
.buttons:hover:not(:disabled) {
  animation-name: pulse-button;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.section-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
}

.header {
  opacity: 0;
  padding-top: 91px;
  padding-bottom: 104px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translateX(-150%);
  width: 100%;
  max-width: 360px;
  background-color: rgba(2, 22, 53, 0.9);
  box-shadow: inset 0px 0px 60px -3px #000000;
  transition: all, 500ms ease-in-out;
}
@media screen and (max-width: calc(768px - 1px)) {
  .header.is-open {
    opacity: 1;
    transform: translateX(-50%);
    pointer-events: all;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0;
    transform: translateX(0);
    max-width: 100%;
    border-bottom: 2px solid #FFFFFF;
    background-color: #012d63;
  }
}
.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
@media screen and (min-width: 1440px) {
  .header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
}
@media screen and (min-width: 1440px) {
  .header .container .navigation {
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.header .container .navigation__logo-box {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation__logo-box {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100px;
    height: 60px;
    opacity: 1;
  }
  .header .container .navigation__logo-box .header-logo {
    position: absolute;
    top: 8px;
  }
}
.header .container .navigation .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation .nav-list {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}
.header .container .navigation .nav-list__item:hover .nav-list__link {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .navigation .nav-list__link {
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.125;
  color: #c7c7c7;
  transition: transform, color, 300ms ease-in-out;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation .nav-list__link {
    line-height: 1.25;
  }
}
.header .container .navigation .nav-list__link--active {
  font-weight: 400;
  color: #FFFFFF;
}
.header .container .lang-list {
  flex-grow: 1;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.header .container .lang-list__item {
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #FFFFFF;
}
.header .container .lang-list__item:has(.lang-list__link--active) {
  box-shadow: 0px 0px 12px 0px #FFFFFF;
}
.header .container .lang-list__item:hover .lang-list__link:not(.lang-list__link--active) {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .lang-list__item:has(.lang-list__link--active):hover .lang-list__link {
  pointer-events: none;
}
.header .container .lang-list__item:not(:has(.lang-list__link--active)):active {
  color: #FFFFFF;
  transform: scale(0.9);
}
.header .container .lang-list__item:active .lang-list__link:not(.lang-list__link--active) {
  color: #FFFFFF;
}
.header .container .lang-list__link {
  padding: 0 5px;
  color: #dcdcdc;
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  color: #dcdcdc;
  border-radius: 8px;
  transition: transform, color, 300ms ease-in-out;
}
.header .container .lang-list__link--active {
  font-weight: 400;
  color: #ffcdd5;
  box-shadow: 0px 0px 8px 0px #ffcdd5;
}

.hero {
  overflow: hidden;
  position: relative;
  height: 738px;
  padding-top: 33px;
  padding-bottom: 212px;
  background-image: url(../images/hero_background-mobile.jpg);
  background-color: #012d63;
  background-repeat: no-repeat;
  background-position: center bottom 0;
  background-size: auto;
}
@media screen and (min-width: 1440px) {
  .hero {
    height: 948px;
    margin-top: 92px;
    padding-top: 94px;
    padding-bottom: 273px;
    background-image: url(../images/hero_background-desktop.jpg);
  }
}
.hero::after {
  content: "";
  position: absolute;
  width: 510px;
  height: 246px;
  right: 50%;
  bottom: 90px;
  transform: translate(53%, 5px) rotate(-33deg);
  background-image: url(../images/hero_background-sneaker-mobile.png);
  background-size: auto;
  background-repeat: no-repeat;
  animation-name: pulse-sneaker-after-mobile;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media screen and (min-width: 1440px) {
  .hero::after {
    width: 837px;
    height: 403px;
    bottom: 0;
    transform-origin: bottom left;
    transform: translate(91%, -1px) rotate(-30deg);
    background-image: url(../images/hero_background-sneaker-desktop.png);
    background-size: cover;
    animation-name: pulse-sneaker-after-desktop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@media screen and (min-width: 1440px) {
  .hero::before {
    z-index: 1;
    position: absolute;
    content: "";
    display: none;
    width: 115px;
    height: 60px;
    bottom: 0;
    right: 50%;
    border-radius: 10px;
    background-image: url(../images/hero_background-sneaker-desktop.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom -35px right -72px;
    transform: translate(166%, -100px) rotate(-37deg);
    box-shadow: inset 17px 1px 24px 3px rgba(61, 61, 61, 0.2);
    animation-name: pulse-sneaker-before-desktop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@media screen and (min-width: 1440px) {
  .hero:hover::after, .hero:hover::before {
    animation-play-state: paused;
  }
}
.hero .burger-menu-buttons {
  display: none;
}
@media screen and (max-width: calc(768px - 1px)) {
  .hero .burger-menu-buttons {
    pointer-events: all;
    z-index: 3;
    position: fixed;
    right: calc(25px + (100vw - 360px) / 2);
    top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #e044ff;
    transition: transform 0.5s;
  }
  .hero .burger-menu-buttons .icon-burger-menu-button-close {
    display: none;
  }
  .hero .burger-menu-buttons.is-open .icon-burger-menu-button-close {
    display: flex;
    fill: #8e32c6;
    stroke-width: 2;
    stroke: #8e32c6;
  }
  .hero .burger-menu-buttons.is-open .icon-burger-menu-button-open {
    display: none;
  }
  .hero .burger-menu-buttons:hover {
    transform: scale(1.1);
  }
}
.hero-logo {
  display: block;
  width: 96px;
  height: 72px;
}
@media screen and (min-width: 1440px) {
  .hero-logo {
    margin-left: 5px;
    width: 160px;
    height: 120px;
  }
}
.hero__logo-text {
  margin-top: -19px;
  margin-bottom: 5px;
  margin-left: 22px;
  width: 52px;
  height: 27px;
  font-family: "PT Serif";
  font-size: 24px;
  line-height: 1.4;
}
@media screen and (min-width: 1440px) {
  .hero__logo-text {
    margin-top: -35px;
    margin-bottom: 0;
    margin-left: 30px;
    width: 178px;
    height: 86px;
    font-size: 48px;
  }
}
.hero__title {
  margin-left: 7px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 64px;
  line-height: 1.4;
}
@media screen and (max-width: calc(360px - 1px)) {
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    width: 640px;
    margin-top: -46px;
    margin-left: -9px;
    font-size: 144px;
    line-height: 1.33;
  }
}
.hero__title-second {
  width: 270px;
  margin-top: -21px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.335;
}
@media screen and (max-width: calc(360px - 1px)) {
  .hero__title-second {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title-second {
    width: 540px;
    margin-top: -36px;
    margin-bottom: 12px;
    margin-left: -1px;
    font-size: 72px;
    line-height: 1.337;
  }
}
.hero__text {
  width: 304px;
  margin-bottom: 71px;
  margin-left: 10px;
  font-size: 18px;
  line-height: 1.17;
}
@media screen and (max-width: calc(360px - 1px)) {
  .hero__text {
    margin-left: calc(-8px + (100vw - 320px) * 0.5);
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    width: 508px;
    margin-bottom: 41px;
    margin-left: -1px;
  }
}
.hero__button-link {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 238px;
  height: 57px;
}
@media screen and (min-width: 1440px) {
  .hero__button-link {
    margin: 0;
    width: 254px;
    height: 67px;
  }
}

.advantages-2 {
  display: none;
}

.advantages {
  padding-top: 105px;
  padding-bottom: 105px;
  border-bottom: 2px solid #FFFFFF;
  background-color: #012d63;
  background-image: url(../images/advantages-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
}
.advantages .container .advantages-list {
  width: 100%;
  padding: 25px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 5px solid #8e32c6;
}
.advantages .container .advantages-list__item--premium-quality {
  background-image: url(../images/advantages_premium-quality.png);
}
.advantages .container .advantages-list__item--indelible-paint {
  background-image: url(../images/advantages_indelible-paint.png);
}
.advantages .container .advantages-list__item--fast-shipping {
  background-image: url(../images/advantages_fast-shipping.png);
}
.advantages .container .advantages-list__item {
  position: relative;
  width: 240px;
  height: 346px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.advantages .container .advantages-list__item-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.42;
  text-align: center;
}
.advantages .container .advantages-list__item:nth-child(2) {
  justify-content: end;
  background-position: center top;
}
.advantages .container .advantages-list__item:nth-child(1) .advantages-list__item-title {
  width: 159px;
}
.advantages .container .advantages-list__item:nth-child(2) .advantages-list__item-title {
  width: 161px;
}
.advantages .container .advantages-list__item:nth-child(3) .advantages-list__item-title {
  width: 151px;
}
.advantages .container .advantages-list__item:first-child::after, .advantages .container .advantages-list__item:last-child::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  right: -50px;
  background-color: #FFFFFF;
}
.advantages .container .advantages-list__item:last-child::before {
  left: -50px;
}

.benefits {
  height: 417px;
  padding: 21px 0 31px;
  background-color: #021635;
  background-image: url(../images/benefits_background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
}
@media screen and (min-width: 1440px) {
  .benefits {
    height: 665px;
    padding: 0px 0 0px;
    border-bottom: 2px solid #FFFFFF;
    background-image: url(../images/benefits_background-desktop.jpg);
  }
}
.benefits .container {
  position: relative;
  overflow: hidden;
  height: 100%;
  outline: 1px dashed yellow;
}
.benefits .container::before {
  content: "";
  width: 96px;
  height: 197px;
  position: absolute;
  left: 0;
  bottom: 19px;
  background-image: url(../images/benefits_background-mobile-image-left.png);
  background-repeat: no-repeat;
}
.benefits .container::after {
  content: "";
  width: 162px;
  height: 193px;
  position: absolute;
  right: -65px;
  bottom: 33px;
  transform: rotate(-41deg);
  background-image: url(../images/benefits_background-mobile-image-right.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 1440px) {
  .benefits .container::before, .benefits .container::after {
    display: none;
  }
}
.benefits .container .benefits-background-image-box {
  min-width: 297px;
  min-height: 143px;
  width: 297px;
  height: 143px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(calc(-50% - 6px));
  background-image: url(../images/benefits_background-mobile-image.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
  outline: 1px dotted yellowgreen;
}
@media screen and (min-width: 768px) {
  .benefits .container .benefits-background-image-box {
    visibility: hidden;
  }
}
@media screen and (min-width: 1440px) {
  .benefits .container .benefits-background-image-box {
    visibility: visible;
    min-width: 835px;
    min-height: 400px;
    width: 835px;
    height: 400px;
    transform: translateX(calc(-50% - 144px));
    background-image: url(../images/benefits_background-desktop-image.png);
    outline: 1px dotted yellow;
  }
}
.benefits .container .benefits-background-image-box__svg-box {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  transition: 1s;
}
.benefits .container .benefits-background-image-box__svg-box:hover {
  min-width: 48px;
  min-height: 44px;
  width: 48px;
  height: 44px;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .benefits .container .benefits-background-image-box__svg-box:hover {
    width: 72px;
    height: 66px;
    outline: 1px solid red;
  }
}
.benefits .container .benefits-background-image-box__svg-box:hover > .benefits-background-image-box__svg-point {
  display: none;
}
.benefits .container .benefits-background-image-box__svg-box:hover > .benefits-background-image-box__pointer-underlining-sole-box {
  display: block;
}
.benefits .container .benefits-background-image-box__svg-box:hover.benefits-background-image-box__svg-box--shoelace {
  background-image: url(../images/benefits_point-circle.svg), url(../images/benefits_point-shoelace.png);
}
.benefits .container .benefits-background-image-box__svg-box:hover.benefits-background-image-box__svg-box--lining {
  background-image: url(../images/benefits_point-circle.svg), url(../images/benefits_point-lining.png);
}
.benefits .container .benefits-background-image-box__svg-box:hover.benefits-background-image-box__svg-box--logo {
  background-image: url(../images/benefits_point-circle.svg), url(../images/benefits_point-logo.png);
}
.benefits .container .benefits-background-image-box__svg-box:hover.benefits-background-image-box__svg-box--mesh {
  background-image: url(../images/benefits_point-circle.svg), url(../images/benefits_point-mesh.png);
}
.benefits .container .benefits-background-image-box__svg-box:hover.benefits-background-image-box__svg-box--sole {
  background-image: url(../images/benefits_point-circle.svg), url(../images/benefits_point-sole.png);
}
.benefits .container .benefits-background-image-box__svg-box--shoelace {
  left: 47.64%;
  top: 29.02%;
}
.benefits .container .benefits-background-image-box__svg-box--lining {
  left: 88.05%;
  top: 23.43%;
}
.benefits .container .benefits-background-image-box__svg-box--logo {
  left: 56.4%;
  top: 52.8%;
}
.benefits .container .benefits-background-image-box__svg-box--mesh {
  left: 31.81%;
  top: 58.39%;
}
.benefits .container .benefits-background-image-box__svg-box--sole {
  left: 81.14%;
  top: 69.93%;
}
.benefits .container .benefits-background-image-box__svg-point {
  min-width: 11px;
  width: 11px;
  height: auto;
  fill: transparent;
}
.benefits .container .benefits-background-image-box__pointer-underlining-sole-box {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-107%, 96%);
  fill: transparent;
}
.benefits .container .benefits-background-image-box__pointer-underlining-sole-box .benefits-background-image-box__pointer-underlining-sole-text {
  position: absolute;
  left: 7px;
  bottom: 9px;
  fill: transparent;
  font-family: "Playfair Display";
  font-size: 14px;
}
.benefits .container .benefits-main-text {
  width: 305px;
  height: 37px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  background-image: linear-gradient(148deg, #8e32c6 0%, #d600c0 100%);
}
.benefits .container .benefits-main-text::before, .benefits .container .benefits-main-text::after {
  content: "";
  height: 36px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-repeat: no-repeat;
}
.benefits .container .benefits-main-text::before {
  z-index: -2;
  width: 299px;
  bottom: -6px;
  background-image: url(../images/benefits_background-main-text-first.svg);
}
.benefits .container .benefits-main-text::after {
  z-index: -1;
  width: 301px;
  bottom: -3px;
  background-image: url(../images/benefits_background-main-text-second.svg);
}

.reviews {
  height: 522px;
  padding-top: 25px;
  padding-bottom: 114px;
  border-bottom: 2px solid #FFFFFF;
  background-color: #012d63;
  background-image: url(../images/reviews-background-image.png), url(../images/reviews-background.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% - 607px) bottom, center 0;
  background-size: auto, auto;
}
.reviews .container .section-title {
  margin-bottom: 24px;
}
.reviews .container .reviews-list {
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reviews .container .reviews-list__item {
  padding: 49px 11px 29px 18px;
  width: 255px;
  border-radius: 15px;
}
.reviews .container .reviews-list__item:nth-child(1) {
  background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  box-shadow: 0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;
}
.reviews .container .reviews-list__item:nth-child(2) {
  background: linear-gradient(135deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
  box-shadow: 0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
}
.reviews .container .reviews-list__item:nth-child(3) {
  background: linear-gradient(135deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
  box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
}
.reviews .container .reviews-list__review {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.17;
}
.reviews .container .reviews-list__date {
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 1.14;
  color: #d8d8d8;
}
.reviews .container .reviews-list__reviewer-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.reviews .container .reviews-list__reviewer-img {
  border-radius: 50%;
}
.reviews .container .reviews-list__reviewer-name {
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 1.14;
}
.reviews .container .reviews-list__reviewer-term {
  font-size: 12px;
  color: #d8d8d8;
}

.order {
  padding-top: 20px;
  padding-bottom: 37px;
  background-color: #012d63;
  background-image: url(../images/order-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
}
.order .section-title {
  margin-bottom: 33px;
}
.order .order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}
.order .order-form__input-email-box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.order .order-form__input {
  padding-left: 24px;
  width: 580px;
  height: 50px;
  font-size: 28px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #FFFFFF;
}
.order .order-form__input::placeholder {
  font-size: 28px;
  color: #959595;
}
.order .order-form__input.order-form__input--email {
  padding-left: 25px;
  width: 690px;
  height: 60px;
}
.order .order-form__input.order-form__input--email:focus {
  border: 2px solid #26c6ea;
  background-color: #c33bde;
}
.order .order-form__input.order-form__input--email:valid {
  border: 2px solid green;
  background-color: #aeffbf;
}
.order .order-form__input.order-form__input--email:valid + .order-form__button-confirm {
  color: green;
  font-weight: 700;
}
.order .order-form__input[type=text]:not(:placeholder-shown) {
  border: 2px solid green;
  background-color: #aeffbf;
}
.order .order-form__button-confirm {
  position: absolute;
  right: 78px;
  font-size: 28px;
  border: none;
  color: #d8d8d8;
  background: transparent;
}
.order .order-form__button-confirm:disabled {
  cursor: not-allowed;
}
.order .order-form__button-submit {
  width: 248px;
  height: 68px;
}

.footer {
  padding-top: 45px;
  padding-bottom: 38px;
  border-bottom: 24px solid #FFFFFF;
  background-color: #021635;
}
.footer .footer-list {
  margin-bottom: 22px;
}
.footer .footer-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-list__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer-list__question {
  font-size: 24px;
  line-height: 1.17;
}
.footer .footer-list__link {
  font-size: 24px;
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  transition: transform, color, 300ms ease-in-out;
}
.footer .footer-list__link:hover {
  color: #c33bde;
  transform: scale(1.05);
}
.footer .footer-list::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background-color: #9b9b9b;
}
.footer__all-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__trademark {
  margin-bottom: 7px;
}
.footer__trademark, .footer__name-country {
  font-size: 18px;
  left: 1.67;
}
.footer__logo-box {
  margin-top: -25px;
}
.footer .footer-logo {
  display: flex;
}
.footer__logo-text {
  margin-top: -19px;
  margin-left: 26px;
  font-family: "PT Serif";
  font-size: 24px;
  line-height: 1;
}/*# sourceMappingURL=main.css.map */