@charset "UTF-8";
/** Этот файл обнуляет стандартные отступы и отступы отступов,  */
/** устанавливает базовый размер шрифта в 100%,  */
/** убирает стили списков и т. д. */
/*! Reset styles */
/* *,
*::before,
*::after {
    box-sizing: inherit;
    box-sizing: border-box;
} */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
}

button:hover:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes pulse-button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: #26c6ea;
    border: 1px solid #26c6ea;
    background-color: #c33bde;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse-sneaker-after-mobile {
  0% {
    transform: translate(43%, 32px) rotate(-53deg) scaleX(-1);
  }
  50% {
    transform: translate(43%, 32px) rotate(-54deg) scaleX(-1);
  }
  100% {
    transform: translate(43%, 32px) rotate(-53deg) scaleX(-1);
  }
}
@keyframes pulse-sneaker-after-desktop {
  0% {
    transform: translate(10%, -1px) rotate(-41deg) scaleX(-1);
  }
  50% {
    transform: translate(10%, -1px) rotate(-42deg) scaleX(-1);
  }
  100% {
    transform: translate(10%, -1px) rotate(-41deg) scaleX(-1);
  }
}
@keyframes pulse-sneaker-before-desktop {
  0% {
    transform: translate(166%, -100px) rotate(-37deg);
  }
  50% {
    transform: translate(164%, -101px) rotate(-38deg);
  }
  100% {
    transform: translate(166%, -100px) rotate(-37deg);
  }
}
body {
  font-family: "Roboto";
  color: #ffffb1;
}
@media screen and (max-width: calc(768px - 1px)) {
  body.no-scroll {
    overflow: hidden;
    pointer-events: none;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
    max-width: 360px;
    padding: 0 18px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 92px;
    max-width: 768px;
    padding: 0 100px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 165px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #8e32c6;
}
.buttons:hover:not(:disabled) {
  animation-name: pulse-button;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.section-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
}

.header {
  opacity: 0;
  padding-top: 91px;
  padding-bottom: 104px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translateX(-150%);
  width: 100%;
  max-width: 360px;
  background-color: rgba(2, 22, 53, 0.9);
  box-shadow: inset 0px 0px 60px -3px #000000;
  transition: all, 500ms ease-in-out;
}
@media screen and (max-width: calc(768px - 1px)) {
  .header.is-open {
    opacity: 1;
    transform: translateX(-50%);
    pointer-events: all;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0;
    transform: translateX(0);
    max-width: 100%;
    border-bottom: 2px solid #FFFFFF;
    background-color: #012d63;
  }
}
.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
@media screen and (min-width: 1440px) {
  .header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
}
@media screen and (min-width: 1440px) {
  .header .container .navigation {
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.header .container .navigation__logo-box {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation__logo-box {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100px;
    height: 60px;
    opacity: 0.7;
  }
  .header .container .navigation__logo-box .header-logo {
    position: absolute;
    top: 8px;
  }
}
.header .container .navigation .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation .nav-list {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}
.header .container .navigation .nav-list__item:hover .nav-list__link {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .navigation .nav-list__link {
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.125;
  color: #c7c7c7;
  transition: transform, color, 300ms ease-in-out;
}
@media screen and (min-width: 1440px) {
  .header .container .navigation .nav-list__link {
    line-height: 1.25;
  }
}
.header .container .navigation .nav-list__link--active {
  font-weight: 400;
  color: #FFFFFF;
}
.header .container .lang-list {
  flex-grow: 1;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.header .container .lang-list__item {
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #FFFFFF;
}
.header .container .lang-list__item:has(.lang-list__link--active) {
  box-shadow: 0px 0px 12px 0px #FFFFFF;
}
.header .container .lang-list__item:hover .lang-list__link:not(.lang-list__link--active) {
  color: #c33bde;
  transform: scale(1.1);
}
.header .container .lang-list__item:has(.lang-list__link--active):hover .lang-list__link {
  pointer-events: none;
}
.header .container .lang-list__item:not(:has(.lang-list__link--active)):active {
  color: #FFFFFF;
  transform: scale(0.9);
}
.header .container .lang-list__item:active .lang-list__link:not(.lang-list__link--active) {
  color: #FFFFFF;
}
.header .container .lang-list__link {
  padding: 0 5px;
  color: #dcdcdc;
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  color: #dcdcdc;
  border-radius: 8px;
  transition: transform, color, 300ms ease-in-out;
}
.header .container .lang-list__link--active {
  font-weight: 400;
  color: #ffffb1;
  box-shadow: 0px 0px 8px 0px #ffffb1;
}

.hero {
  overflow: hidden;
  position: relative;
  height: 738px;
  padding-top: 33px;
  padding-bottom: 212px;
  background-image: url(../images/hero_background-mobile.jpg);
  background-color: #012d63;
  background-repeat: no-repeat;
  background-position: center bottom 0;
  background-size: auto;
}
@media screen and (min-width: 1440px) {
  .hero {
    height: 948px;
    margin-top: 92px;
    padding-top: 94px;
    padding-bottom: 273px;
    background-image: url(../images/hero_background-desktop.jpg);
  }
}
.hero::after {
  content: "";
  position: absolute;
  width: 510px;
  height: 246px;
  right: 50%;
  bottom: 90px;
  transform: translate(43%, 32px) rotate(-53deg) scaleX(-1);
  background-image: url(../images/hero_background-sneaker-mobile.png);
  background-size: auto;
  background-repeat: no-repeat;
  animation-name: pulse-sneaker-after-mobile;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media screen and (min-width: 1440px) {
  .hero::after {
    width: 837px;
    height: 403px;
    bottom: 0;
    transform-origin: bottom right;
    transform: translate(10%, -1px) rotate(-41deg) scaleX(-1);
    background-image: url(../images/hero_background-sneaker-desktop.png);
    background-size: cover;
    animation-name: pulse-sneaker-after-desktop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@media screen and (min-width: 1440px) {
  .hero::before {
    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    width: 115px;
    height: 60px;
    bottom: 0;
    right: 50%;
    border-radius: 10px;
    background-image: url(../images/hero_background-sneaker-desktop.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom -35px right -72px;
    transform: translate(166%, -100px) rotate(-37deg);
    box-shadow: inset 17px 1px 24px 3px rgba(61, 61, 61, 0.2);
    animation-name: pulse-sneaker-before-desktop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@media screen and (min-width: 1440px) {
  .hero:hover::after, .hero:hover::before {
    animation-play-state: paused;
  }
}
.hero .burger-menu-buttons {
  display: none;
}
@media screen and (max-width: calc(768px - 1px)) {
  .hero .burger-menu-buttons {
    pointer-events: all;
    z-index: 3;
    position: fixed;
    right: calc(25px + (100vw - 360px) / 2);
    top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #e044ff;
    transition: transform 0.5s;
  }
  .hero .burger-menu-buttons .icon-burger-menu-button-close {
    display: none;
  }
  .hero .burger-menu-buttons.is-open .icon-burger-menu-button-close {
    display: flex;
    fill: #8e32c6;
    stroke-width: 2;
    stroke: #8e32c6;
  }
  .hero .burger-menu-buttons.is-open .icon-burger-menu-button-open {
    display: none;
  }
  .hero .burger-menu-buttons:hover {
    transform: scale(1.1);
  }
}
.hero-logo {
  display: block;
  width: 96px;
  height: 72px;
}
@media screen and (min-width: 1440px) {
  .hero-logo {
    margin-left: 5px;
    width: 160px;
    height: 120px;
  }
}
.hero__logo-text {
  margin-top: -19px;
  margin-bottom: 5px;
  margin-left: 22px;
  width: 52px;
  height: 27px;
  font-family: "PT Serif";
  font-size: 24px;
  line-height: 1.4;
}
@media screen and (min-width: 1440px) {
  .hero__logo-text {
    margin-top: -35px;
    margin-bottom: 0;
    margin-left: 30px;
    width: 178px;
    height: 86px;
    font-size: 48px;
  }
}
.hero__title {
  margin-left: 7px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 64px;
  line-height: 1.4;
}
@media screen and (max-width: calc(360px - 1px)) {
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    width: 650px;
    margin-top: -46px;
    margin-left: -9px;
    font-size: 144px;
    line-height: 1.33;
  }
}
.hero__title-second {
  width: 270px;
  margin-top: -21px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.335;
}
@media screen and (max-width: calc(360px - 1px)) {
  .hero__title-second {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title-second {
    width: 540px;
    margin-top: -36px;
    margin-bottom: 12px;
    margin-left: -1px;
    font-size: 72px;
    line-height: 1.337;
  }
}
.hero__text {
  width: 314px;
  margin-bottom: 71px;
  margin-left: 10px;
  font-size: 18px;
  line-height: 1.17;
}
@media screen and (max-width: calc(360px - 1px)) {
  .hero__text {
    margin-left: calc(-15px + (100vw - 320px) * 0.5);
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    width: 612px;
    margin-bottom: 41px;
    margin-left: -1px;
  }
}
.hero__button-link {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 238px;
  height: 57px;
}
@media screen and (min-width: 1440px) {
  .hero__button-link {
    margin: 0;
    width: 254px;
    height: 67px;
  }
}

.advantages {
  display: none;
}

.advantages-2 {
  height: 1437px;
  padding: 50px 0 49px;
  background-color: #012d63;
}
@media screen and (min-width: 1440px) {
  .advantages-2 {
    height: 606px;
    padding: 102px 0 80px;
    border-bottom: 2px solid #FFFFFF;
    background-image: url(../images/advantages-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto;
  }
  .advantages-2:has(.input-switcher:checked) {
    padding-bottom: 120px;
  }
}
.advantages-2 .container {
  position: relative;
}
@media screen and (max-width: calc(360px - 1px)) {
  .advantages-2 .container {
    padding: 0;
  }
}
.advantages-2 .container .input-switcher {
  display: none;
}
.advantages-2 .container .input-switcher:checked + .label-switcher > .label-switcher__svg {
  transform: rotate(0);
}
.advantages-2 .container .input-switcher:checked + .label-switcher ~ .advantages-list {
  outline: none;
}
.advantages-2 .container .input-switcher:checked + .label-switcher ~ .advantages-list svg {
  display: flex;
}
@media screen and (min-width: 1440px) {
  .advantages-2 .container .input-switcher:checked + .label-switcher ~ .advantages-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.advantages-2 .container .input-switcher:checked + .label-switcher ~ .advantages-list > .advantages-list__item {
  width: 238px;
  background-image: none;
  text-align: left;
  border: none;
}
.advantages-2 .container .input-switcher:checked + .label-switcher ~ .advantages-list > .advantages-list__item:nth-last-child(2)::before,
.advantages-2 .container .input-switcher:checked + .label-switcher ~ .advantages-list > .advantages-list__item:nth-last-child(2)::after {
  display: none;
}
.advantages-2 .container .input-switcher:checked + .label-switcher {
  transform: translateX(calc(-50% - 24px));
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.advantages-2 .container .input-switcher:checked + .label-switcher ~ .switch-list > .switch-list__item:first-child {
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: none;
}
.advantages-2 .container .input-switcher:checked + .label-switcher ~ .switch-list > .switch-list__item:last-child {
  font-weight: 700;
  color: inherit;
  text-shadow: 2px 2px 2px #e044ff;
}
@media screen and (min-width: 1440px) {
  .advantages-2 .container .input-switcher:checked + .label-switcher:hover ~ .switch-list > .switch-list__item:first-child {
    color: #c33bde;
    transform: scale(1.1);
  }
  .advantages-2 .container .input-switcher:checked + .label-switcher:hover ~ .switch-list > .switch-list__item:last-child {
    transform: scale(1);
  }
}
.advantages-2 .container .label-switcher {
  z-index: 1;
  width: 80px;
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(calc(-50% + 20px));
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .advantages-2 .container .label-switcher {
    top: -60px;
  }
  .advantages-2 .container .label-switcher:hover ~ .switch-list > .switch-list__item:last-child {
    color: #c33bde;
    transform: scale(1.1);
  }
}
.advantages-2 .container .label-switcher__svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transform: rotate(180deg);
}
.advantages-2 .container .switch-list {
  width: 111px;
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 1440px) {
  .advantages-2 .container .switch-list {
    top: -60px;
  }
}
.advantages-2 .container .switch-list__item {
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  transition: transform, color, 300ms ease-in-out;
}
.advantages-2 .container .switch-list__item:first-child {
  font-weight: 700;
  color: inherit;
  text-shadow: -2px 2px 2px #e044ff;
}
.advantages-2 .container .switch-list__item-switcher {
  display: none;
}
.advantages-2 .container .switch-list__svg {
  opacity: 0.3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transform: rotate(0);
}
.advantages-2 .container .advantages-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
}
.advantages-2 .container .advantages-list__item--premium-quality {
  background-image: url(../images/advantages_premium-quality.png);
}
.advantages-2 .container .advantages-list__item--indelible-paint {
  background-image: url(../images/advantages_indelible-paint.png);
}
.advantages-2 .container .advantages-list__item--fast-shipping {
  background-image: url(../images/advantages_fast-shipping.png);
}
@media screen and (min-width: 1440px) {
  .advantages-2 .container .advantages-list {
    padding: 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    outline: 5px solid #8e32c6;
  }
}
.advantages-2 .container .advantages-list__item {
  position: relative;
  width: 238px;
  height: 382px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media screen and (max-width: calc(1440px - 1px)) {
  .advantages-2 .container .advantages-list__item:nth-last-child(2)::before, .advantages-2 .container .advantages-list__item:nth-last-child(2)::after {
    position: absolute;
    top: -49px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }
  .advantages-2 .container .advantages-list__item:nth-last-child(2)::after {
    top: calc(100% + 49px);
  }
}
@media screen and (min-width: 1440px) {
  .advantages-2 .container .advantages-list__item {
    width: 33.3333333333%;
  }
  .advantages-2 .container .advantages-list__item:nth-last-child(2) {
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
  }
}
.advantages-2 .container .advantages-list__item svg {
  display: none;
}
.advantages-2 .container .advantages-list__item-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.42;
}
.advantages-2 .container .advantages-list__item-border {
  position: absolute;
  top: -3px;
  fill: transparent;
  stroke-width: 5px;
  stroke: #8e32c6;
}
.advantages-2 .container .advantages-list__item-number {
  position: absolute;
  left: 0px;
  top: 3px;
  transform: translateX(-50%);
  fill: #FFFFFF;
}
.advantages-2 .container .advantages-list__item-image {
  position: absolute;
}
@media screen and (max-width: calc(360px - 1px)) {
  .advantages-2 .container .advantages-list__item-image {
    max-width: 100vw;
  }
}
.advantages-2 .container .advantages-list__item:nth-child(1) .advantages-list__item-image {
  bottom: -28px;
}
.advantages-2 .container .advantages-list__item:nth-child(2) .advantages-list__item-image {
  bottom: -40px;
}
.advantages-2 .container .advantages-list__item:nth-child(3) .advantages-list__item-image {
  bottom: -56px;
}
.advantages-2 .container .advantages-list__item:nth-child(1) .advantages-list__item-title {
  width: 148px;
}
.advantages-2 .container .advantages-list__item:nth-child(2) .advantages-list__item-title {
  width: 138px;
}
.advantages-2 .container .advantages-list__item:nth-child(3) .advantages-list__item-title {
  width: 153px;
}

.benefits {
  height: 417px;
  padding: 21px 0 37px;
  background-color: #012d63;
  background-image: url(../images/benefits_background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
}
@media screen and (min-width: 1440px) {
  .benefits {
    height: 665px;
    padding: 0px 0 0px;
    border-bottom: 2px solid #FFFFFF;
    background-image: url(../images/benefits_background-desktop.jpg);
  }
}
.benefits .container {
  position: relative;
  overflow: hidden;
  height: 100%;
  outline: 1px dashed yellow;
}
.benefits .container::before {
  content: "";
  width: 96px;
  height: 197px;
  position: absolute;
  left: 0;
  bottom: 19px;
  background-image: url(../images/benefits_background-mobile-image-left.png);
  background-repeat: no-repeat;
}
.benefits .container::after {
  content: "";
  width: 162px;
  height: 193px;
  position: absolute;
  right: -65px;
  bottom: 33px;
  transform: rotate(-41deg);
  background-image: url(../images/benefits_background-mobile-image-right.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 1440px) {
  .benefits .container::before, .benefits .container::after {
    display: none;
  }
}
.benefits .container .benefits-background-image-box {
  min-width: 297px;
  min-height: 143px;
  width: 297px;
  height: 143px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(calc(-50% - 6px));
  background-image: url(../images/benefits_background-mobile-image.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
  outline: 1px dotted yellowgreen;
}
@media screen and (min-width: 1440px) {
  .benefits .container .benefits-background-image-box {
    display: none;
  }
}/*# sourceMappingURL=main-ua.css.map */