// @import "../utils/mixins";

// ? header (BEM+SASS)
.header {
    display: none;
    padding-top: 91px;
    padding-bottom: 104px;
    //! --- Фіксований header --- 
    position: fixed;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    //! Вибір адаптивної чи респонсивної (чутливої) верстки.
    max-width: if($adaptive, getBreakPoint('mobile'), 100vw);
    // height: 738px;
    //! --- ----------------- ---
    background-color: getColor('background-brand-mobile');
    box-shadow: inset 0px 0px 60px -3px #000000;
    // ! міксін outline
    @include outline(1px, solid, red);

    &.is-open {
        @media screen and (max-width: calc(#{getBreakPoint('tablet')} - 1px)) {
            display: block;
            pointer-events: all;
        }
    }

    @media screen and (min-width: getBreakPoint('desktop')) {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        //! --- Фіксований header ---
        // position: fixed; //* +
        // z-index: 2; //* +
        // top: 0; //* +
        left: 0;
        transform: translateX(0);
        // width: 100%; //* +
        max-width: 100%;
        // height: auto;
        //! --- ----------------- ---
        border-bottom: 2px solid getColor('light');
        background-color: getColor('background-brand');
        // ! міксін outline
        // @include outline(1px, solid, red);
    }
    
    .container {
        //! Додаткові flex-властивості до container
        @include flex_FDcol-AIcen;
        gap: 48px;
        // ! міксін outline
        // @include outline(1px, dashed, yellow);

        @media screen and (min-width: getBreakPoint('desktop')) {
            @include flex-AIcen;
            gap: 0;
        }
        
        .navigation {
            @media screen and (min-width: getBreakPoint('desktop')) {
                flex-grow: 4;
                @include flex-AIcen;
            }
            
            .header-logo {
                display: none;
                // ! міксін outline
                @include outline(1px, dotted, yellowgreen);
                
                @media screen and (min-width: getBreakPoint('desktop')) {
                    display: block;
                    flex-grow: 1;
                    width: 100px;
                    height: 60px;
                    position: relative;
                    //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
                    opacity: if($lang == ua, 0.7, 1.0);
                    
                    &__img {
                        position: absolute;
                        top: 8px;
                    }
                }
            }

            .nav-list {
                @include flex_FDcol-AIcen;
                gap: 57px;

                @media screen and (min-width: getBreakPoint('desktop')) {
                    flex-grow: 3;
                    @include flex-JCsb-AIcen;
                    gap: 0;
                }

                &__item:hover .nav-list__link {
                    color: getColor('brand-hover');
                    transform: scale(1.1);
                }
                
                &__link {
                    display: flex;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 1.125;
                    color: getColor('font-main'); 
                    //? Aнімація-1
                    transition: 
                        transform, color, 
                        300ms 
                        ease-in-out;
                    // ! міксін outline
                    // @include outline(2px, dashed, green);
                    
                    @media screen and (min-width: getBreakPoint('desktop')) {
                        line-height: 1.25;
                    }
                    
                    &--active {
                        font-weight: 400;
                        color: getColor('light');
                    }
                }
            }
        }
        
        .lang-list {
            flex-grow: 1;
            height: 48px;
            @include flex-JCfe-AIcen;
            gap: 10px;
            // border-radius: 10px;
            // box-shadow: 
            //     0px 0px 8px 0px getColor('light'),
            //     0px 0px 0px 1px getColor('buttons-background');
            // ! міксін outline
            // @include outline(2px, dashed, yellowgreen);

            &__item {
                padding: 5px 10px;
                border-radius: 10px;
                box-shadow: 
                    0px 0px 8px 0px getColor('light');
                // ! міксін outline
                // @include outline(1px, dashed, yellow);
            }
            
            &__item:hover .lang-list__link {
                color: getColor('brand-hover');
                transform: scale(1.1);
            }

            &__link {
                padding: 0 5px;
                color: getColor('font-second');
                display: flex;
                font-weight: 300;
                font-size: 24px;
                line-height: 1.25;
                color: getColor('font-second'); 
                border-radius: 8px;
                //? Aнімація-1
                transition: 
                    transform, color,
                    300ms 
                    ease-in-out;
                // ! міксін outline
                // @include outline(1px, dashed, red);
                
                &--active {
                    font-weight: 400;
                    // color: getColor('light');
                    color: if($lang == ua, getColor('light-ua'), getColor('light-eng'));
                    box-shadow: 
                        0px 0px 8px 0px if($lang == ua, getColor('light-ua'), getColor('light-eng'));
                }
            }
        }
    }
}
