// ? advantages-2 (BEM+SASS)
.advantages {
    display: none;
}

.advantages-2 {
    height: 1437px;
    padding: 50px 0 49px;
    //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
    background-color: if($lang == ua, getColor('background-brand'), getColor('background-brand-2'));

    @media screen and (min-width: getBreakPoint('desktop')) {
        height: 606px;
        padding: 102px 0 80px;
        border-bottom: 2px solid getColor('light');
        background-image:url(../images/advantages-background.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
        //! Вибір адаптивної чи респонсивної (чутливої) верстки.
        background-size: if($adaptive, auto, cover);

        &:has(.input-switcher:checked) {
            padding-bottom: 120px;
        }
    }

    .container {
        position: relative;
        // ! міксін outline
        // @include outline(1px, dashed, yellow);
        
        @media screen and (max-width: calc(#{getBreakPoint('mobile')} - 1px)) {
            padding: 0;
        }

        .input-switcher {
            display: none;
        }
        //! Події :checked на input-switcher
        .input-switcher:checked + .label-switcher>.label-switcher__svg {
            transform: rotate(0);
        }
        
        .input-switcher:checked + .label-switcher ~ .advantages-list {
            visibility: visible;
            //* так працює, але треба задаті по іншому класи!!!
            //todo  Міксін-цикл - для додавання фонових 
            //todo  advantages-item-number_... зображень в advantages-2
            // @include generateIcons($icons);
            @include generateIconsItemNumber($icons);
            // ! міксін outline
            // @include outline(1px, dashed, #7bff00);
        }
        .input-switcher:checked + .label-switcher ~ .advantages-list svg {
            display: flex;
        }
        @media screen and (min-width: getBreakPoint('desktop')) {
            .input-switcher:checked + .label-switcher ~ .advantages-list {
                padding: 0;
                outline: none;
                // @include flex_JCsb;
                @include flex_JCsa;
            }
        }
        .input-switcher:checked + .label-switcher ~ .advantages-list > .advantages-list__item {
            width: 238px;
            text-align: left;
            border: none;
            background-image: none;
            
            //todo Підключення svg-зображень як фонові зображення
            // background-repeat: no-repeat;
            // // background-position: left -35px top 3px;
            // // +++
            // //! Як SVG це зображення НЕ ПРАЦЮЄ!
            // // background-image: url(../images/advantages-image_premium-quality.svg);
            // //* Як PNG це зображення ПРАЦЮЄ!
            // // background-image: url(../images/advantages-image_premium-quality.png);
            // // +++
            // background-position:
            // //* Це для item-number-2:
            // left -35px top 3px,
            // //* Це для image-1:
            // // center bottom -29px;
            // center bottom -23px;
        }
        //? Вимикаємо Горизонтальні планки між елементами
        .input-switcher:checked + .label-switcher ~ .advantages-list > .advantages-list__item:nth-last-child(2)::before,
        .input-switcher:checked + .label-switcher ~ .advantages-list > .advantages-list__item:nth-last-child(2)::after {
            display: none;
        }
        //? Зміщення кнопки-перемикача 
        .input-switcher:checked + .label-switcher {
            transform: translateX(calc(-50% - 24px));
            @include flex_JCfe-AIcen;
        }
        //? Зміна властивостей текста OLD/NEW 
        .input-switcher:checked + .label-switcher ~ .switch-list > .switch-list__item:first-child {
            font-weight: 400;
            color: getColor('light');
            text-shadow: none;
        }
        .input-switcher:checked + .label-switcher ~ .switch-list > .switch-list__item:last-child {
            font-weight: 700;
            color: inherit;
            text-shadow: 2px 2px 2px getColor('brand-hover-light');
        }
        @media screen and (min-width: getBreakPoint('desktop')) {
            .input-switcher:checked + .label-switcher:hover ~ .switch-list > .switch-list__item:first-child {
                color: getColor('brand-hover');
                transform: scale(1.1);
            }
            .input-switcher:checked + .label-switcher:hover ~ .switch-list > .switch-list__item:last-child {
                transform: scale(1);
            }
        }
        

        .label-switcher {
            z-index: 1;
            width: 80px;
            position: absolute;
            left: 50%;
            // top: 15px;
            top: -35px;
            transform: translateX(calc(-50% + 20px));
            @include flex_JCfs-AIcen;
            cursor: pointer;
            // ! міксін outline
            // @include outline(1px, dashed, #7bff00);
            
            // &:hover ~  .switch-list > .switch-list__item:last-child {
            //     color: getColor('brand-hover');
            //     transform: scale(1.1);
            // }

            @media screen and (min-width: getBreakPoint('desktop')) {
                top: -60px;

                &:hover ~  .switch-list > .switch-list__item:last-child {
                    color: getColor('brand-hover');
                    transform: scale(1.1);
                }
            }
            
            //? Іконка кнопки-перемикача (ВИКОРИСТОВУВАЄТЬСЯ!)
            &__svg {
                @include flex_JCcen-AIcen;
                fill: transparent;
                transform: rotate(180deg);
            }
        }

        .switch-list {
            width: 111px;
            position: absolute;
            left: 50%;
            // top: 15px;
            top: -35px;
            transform: translateX(-50%);
            @include flex_JCsb;
            //! Як що .switch-list__item-switcher не відключен, то:
            // @include flex_AIcen;
            // gap: 5px;
            
            @media screen and (min-width: getBreakPoint('desktop')) {
                top: -60px;
            }
            
            &__item {
                font-size: 16px;
                line-height: 1.25;
                color: getColor('light');
                //? Aнімація-1
                transition: 
                    transform, color,
                    300ms 
                    ease-in-out;
            }
            
            &__item:first-child {
                font-weight: 700;
                color: inherit;
                text-shadow: -2px 2px 2px getColor('brand-hover-light');
            }
            
            //todo Елемент li з кнопокою-перемикачем OLD/NEW за допомогою svg (відключен)
            &__item-switcher {
                display: none;
            }
            
            //? Іконка кнопки-перемикача (тимчасова, не використовувається, прихована)
            &__svg  {
                // visibility: hidden;
                opacity: 0.3;
                @include flex_JCcen-AIcen;
                fill: transparent;
                transform: rotate(0);
            }
        }

        .advantages-list {
            width: 100%;
            // padding: 48px 0 49px;
            @include flex_FDcol-AIcen;
            gap: 96px;
            //todo var.2 - Використання 02.Міксін для 01.@each - цикла для 
            //todo         додавання фонових зображень
            // @include generateIcons($icons);
            // @include generateIconsItemNumber($icons);
            //! так не працює!!!
            // .input-switcher:checked+.label-switcher ~ & {
            // //todo var.2 - Використання 02.Міксін для 01.@each - цикла для 
            // //todo         додавання фонових зображень
                @include generateIcons($icons);
            // }
            // ! міксін outline
            // @include outline(1px, dashed, #7bff00);
            
            @media screen and (min-width: getBreakPoint('desktop')) {
                // padding: 25px 50px;
                // padding: 0 50px;
                padding: 20px 0 20px;
                // @include flex_JCsa;
                @include flex_JCsb;
                gap: 0;
                outline: 5px solid getColor('buttons-background');
            }
            
            &__item {
                position: relative;
                // width: 240px;
                width: 238px;
                // height: 346px;
                height: 382px;
                @include flex_FDcol-AIcen;
                text-align: center;
                background-repeat: no-repeat;
                background-position: center bottom;
                // ! міксін outline
                // @include outline(1px, dashed, #00ffcc);

                //? Горизонтальні планки між елементами
                @media screen and (max-width: calc(#{getBreakPoint('desktop')} - 1px)) {
                    &:nth-last-child(2)::before ,
                    &:nth-last-child(2)::after {
                        position: absolute;
                        top: -49px;
                        content: "";
                        width: 100%;
                        height: 2px ;
                        background-color: getColor('light');
                    }
                    &:nth-last-child(2)::after  {
                        top: calc(100% + 49px);
                    }
                }
                
                @media screen and (min-width: getBreakPoint('desktop')) {
                    width: calc(100% / 3);
                    
                    &:nth-last-child(2) {
                        border-left: 2px solid getColor('light');
                        border-right: 2px solid getColor('light');
                    }
                }
                
                & svg {
                    display: none;
                }
                
                &-title {
                    // height: 102px;
                    // margin-left: auto;
                    // margin-right: 41px;
                    font-family: getFont('second-family');
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 1.42;
                    // text-align: center;
                    // ! міксін outline
                    // @include outline(1px, dotted, red);
                }
                
                &-border {
                    position: absolute;
                    top: -3px;
                    fill: transparent;
                    stroke-width: 5px;
                    stroke: getColor('buttons-background');
                    // ! міксін outline
                    // @include outline(1px, dotted, orange);
                }
                
                &-number {
                    position: absolute;
                    left: 0px;
                    top: 3px;
                    transform: translateX(-50%);
                    fill: getColor('light');
                    // ! міксін outline
                    // @include outline(1px, dotted, wheat);
                }
                
                &-image {
                    position: absolute;
                    // bottom: -28px;
                    // ! міксін outline
                    // @include outline(1px, dotted, red);
                    
                    @media screen and (max-width: calc(#{getBreakPoint('mobile')} - 1px)) {
                        // max-width: 130%;
                        max-width: 100vw;
                    }
                }
            }
            
            &__item:nth-child(1) .advantages-list__item-image {
                bottom: -28px;
            }
            &__item:nth-child(2) .advantages-list__item-image {
                bottom: -40px;
            }
            &__item:nth-child(3) .advantages-list__item-image {
                bottom: -56px;
            }
            
            &__item:nth-child(1) .advantages-list__item-title {
                // width: 159px;
                width: 148px;
                
            }
            &__item:nth-child(2) .advantages-list__item-title {
                // width: 161px;
                width: 138px;
            }
            &__item:nth-child(3) .advantages-list__item-title {
                // width: 151px;
                // width: 139px;
                width: 153px;
                margin-left: 24px;
            }
        }
    }
}
