// ? advantages-2 (BEM+SASS)
.advantages-2 {
    height: 1437px;
    border-bottom: 2px solid getColor('light');
    background-color: getColor('background-brand');

    @media screen and (min-width: getBreakPoint('desktop')) {
        height: 606px;
        padding-top: 102px;
        padding-bottom: 120px;
    }

    .container {
        padding: 0;
        // ! міксін outline
        // @include outline(1px, dashed, yellow);
        
        .advantages-list {
            width: 100%;
            padding: 48px 0 49px;
            @include flex_FDcol-AIcen;
            gap: 96px;
            // outline: 5px solid getColor('buttons-background');
            // ! міксін outline
            // @include outline(1px, dashed, #7bff00);
            
            @media screen and (min-width: getBreakPoint('desktop')) {
                padding: 0;
                @include flex-JCse;
                gap: 0;
            }
            
            &__item {
                position: relative;
                // width: 240px;
                width: 238px;
                // height: 346px;
                height: 382px;
                @include flex_FDcol-AIcen;
                // ! міксін outline
                // @include outline(1px, dashed, #00ffcc);
                
                &-title {
                    // height: 102px;
                    // margin-left: auto;
                    // margin-right: 41px;
                    font-family: getFont('second-family');
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 1.42;
                    // text-align: center;
                    // ! міксін outline
                    // @include outline(1px, dotted, red);
                }
                
                &-border {
                    position: absolute;
                    top: -3px;
                    fill: transparent;
                    stroke-width: 5px;
                    stroke: getColor('buttons-background');
                    // ! міксін outline
                    // @include outline(1px, dotted, orange);
                }
                
                &-number {
                    position: absolute;
                    left: 0px;
                    top: 3px;
                    transform: translateX(-50%);
                    fill: getColor('light');
                    // ! міксін outline
                    // @include outline(1px, dotted, wheat);
                }
                
                &-image {
                    position: absolute;
                    // bottom: -28px;
                    // ! міксін outline
                    // @include outline(1px, dotted, red);

                    @media screen and (max-width: calc(#{getBreakPoint('mobile')} - 1px)) {
                        max-width: 130%;
                    }
                }
            }

            &__item:nth-child(1) .advantages-list__item-image {
                bottom: -28px;
            }
            &__item:nth-child(2) .advantages-list__item-image {
                bottom: -40px;
            }
            &__item:nth-child(3) .advantages-list__item-image {
                bottom: -56px;
            }

            //todo var.2 - Використання 02.Міксін для 01.@each - цикла для 
            //todo         додавання фонових зображень
            // @include generateIcons($icons);

            &__item:nth-child(1) .advantages-list__item-title {
                // width: 159px;
                width: 148px;
                
            }
            &__item:nth-child(2) .advantages-list__item-title {
                // width: 161px;
                width: 138px;
            }
            &__item:nth-child(3) .advantages-list__item-title {
                // width: 151px;
                width: 139px;
            }
        }
    }
}
