// ? benefits (BEM+SASS)
.benefits {
    height: 417px;
    padding: 21px 0 37px;
    //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
    background-color: if($lang == ua, getColor('background-brand'), getColor('background-brand-2'));
    background-image:url(../images/benefits_background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    //! Вибір адаптивної чи респонсивної (чутливої) верстки.
    background-size: if($adaptive, auto, cover);

    @media screen and (min-width: getBreakPoint('desktop')) {
        height: 665px;
        padding: 0px 0 0px;
        border-bottom: 2px solid getColor('light');
        background-image:url(../images/benefits_background-desktop.jpg);
    }

    .container {
        height: 100%;
        // ! міксін outline
        @include outline(1px, dashed, yellow);

        
    }
}
