// ? benefits (BEM+SASS)
.benefits {
    height: 417px;
    padding: 21px 0 37px;
    //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
    background-color: if($lang == ua, getColor('background-brand'), getColor('background-brand-2'));
    background-image:url(../images/benefits_background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    //! Вибір адаптивної чи респонсивної (чутливої) верстки.
    background-size: if($adaptive, auto, cover);
    
    @media screen and (min-width: getBreakPoint('desktop')) {
        height: 665px;
        padding: 0px 0 0px;
        border-bottom: 2px solid getColor('light');
        background-image:url(../images/benefits_background-desktop.jpg);
    }

    .container {
        position: relative;
        overflow: hidden;
        height: 100%;
        // ! міксін outline
        @include outline(1px, dashed, yellow);
        
        &::before {
            content: '';
            width: 96px;
            height: 197px;
            position: absolute;
            left: 0;
            bottom: 19px;
            background-image:url(../images/benefits_background-mobile-image-left.png);
            background-repeat: no-repeat;
        }
        
        &::after {
            content: '';
            width: 162px;
            height: 193px;
            position: absolute;
            right: -65px;
            bottom: 33px;
            transform: rotate(-41deg);
            background-image:url(../images/benefits_background-mobile-image-right.png);
            background-repeat: no-repeat;
        }
        
        @media screen and (min-width: getBreakPoint('desktop')) {
            &::before,
            &::after {
                display: none;
            }
        }

        .benefits-background-image-box {
            min-width: 297px;
            min-height: 143px;
            //! Вибір адаптивної чи респонсивної (чутливої) верстки.
            // width: if($adaptive, 297px, 70%);
            width: if($adaptive, 297px, 70vw);
            //! Вибір адаптивної чи респонсивної (чутливої) верстки.
            height: if($adaptive, 143px, calc(70vw / 2.077 ));
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(calc(-50% - 6px));
            background-image:url(../images/benefits_background-mobile-image.png);
            background-repeat: no-repeat;
            background-position: center 0;
            //! Вибір адаптивної чи респонсивної (чутливої) верстки.
            background-size: if($adaptive, auto, 100%);
            // ! міксін outline
            @include outline(1px, dotted, yellowgreen);
            
            &__svg-box {
                position: absolute;
                min-width: 47px;
                min-height: 43px;
                //! Вибір адаптивної чи респонсивної (чутливої) верстки.
                width: if($adaptive, 47px, calc(70vw * 0.158));
                height: if($adaptive, 43px, calc(100% * 0.301));
                @include flex-JCcen-AIcen;
                border-radius: 50%;
                // fill: transparent;
                // ! міксін outline
                @include outline(1px, dashed, #ff5f5f);
                
                &--shoelace {
                    // left: 141,5*100/297;
                    // top: 41,5*100/143;
                    left: 47.64%;
                    top: 29.02%;
                    transform: translate(-50%, -50%);
                }
                &--lining {
                    // left: 261,5*100/297;
                    // top: 33,5*100/143;
                    left: 88.05%;
                    top: 23.43%;
                    transform: translate(-50%, -50%);
                }
                &--logo {
                    // left: 167,5*100/297;
                    // top: 75,5*100/143;
                    left: 56.40%;
                    top: 52.80%;
                    transform: translate(-50%, -50%);
                }
                &--mesh {
                    // left: 94,5*100/297;
                    // top: 83,5*100/143;
                    left: 31.81%;
                    top: 58.39%;
                    transform: translate(-50%, -50%);
                }
                &--sole {
                    // left: 241*100/297;
                    // top: 100*100/143;
                    left: 81.14%;
                    top: 69.93%;
                    transform: translate(-50%, -50%);
                }
            }
            
            &__svg-point {
                min-width: 11px;
                //! Вибір адаптивної чи респонсивної (чутливої) верстки.
                width: if($adaptive, 11px, calc(70vw * 0.037));
                height: auto;
                fill: transparent;
                // ! міксін outline
                // @include outline(1px, dotted, #ffef5f);
            }
            
            @media screen and (min-width: getBreakPoint('desktop')) {
                & {
                    display: none;
                }
            }
        }
    }
}
