// ? reviews (BEM+SASS)
.reviews {
    height: 418px;
    padding-top: 50px;
    //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
    background-color: if($lang == ua, getColor('background-brand'), getColor('background-brand-2'));
    background-image:
        url(../images/reviews_background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    //! Вибір адаптивної чи респонсивної (чутливої) верстки.
    background-size: if($adaptive, auto, cover);
    
    @media screen and (min-width: getBreakPoint('desktop')) {
        height: 532px;
        // padding: 45px 0 70px;
        padding-top: 45px; 
        border-bottom: 2px solid getColor('light');
        background-image:url(../images/reviews_background-desktop.jpg);
    }

    .container {
        position: relative;
        height: 100%;
        padding-bottom: 159px;
        @include flex_JCcen-AIcen;
        // ! міксін outline
        @include outline(2px, dashed, yellow);

        @media screen and (min-width: getBreakPoint('desktop')) {
            display: block;
            padding-bottom: 0px;
        }
        
        &::before {
            content: '';
            width: 171px;
            height: 221px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-image:url(../images/reviews_background-image-left-mobile.png);
            background-repeat: no-repeat;
        }
        
        &::after {
            content: '';
            width: 97px;
            height: 196px;
            position: absolute;
            right: 0px;
            bottom: 5px;
            background-image:url(../images/reviews_background-image-right-mobile.png);
            background-repeat: no-repeat;
        }

        .section-title {
            display: none;
            // @extend .section-title;
            
            @media screen and (min-width: getBreakPoint('desktop')) {
                display: block;
                margin-bottom: 24px;
            }
        }

        .slider-box {
            position: relative;
            width: 172px;
            // height: 100%;
            height: 209px;
            @include outline($type: dotted);
            
            @media screen and (min-width: getBreakPoint('desktop')) {
                width: 100%;
                height: 310px;
            }

            .slider-box-hidden {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 100%;
                
                .reviews-list {
                    position: absolute;
                    z-index: 1;
                    // ! +++++ Пагінація +++++ 
                    left: 0;
                    width: 300%;
                    height: 100%;
                    // ! ______Пагінація______ 
                    display: flex;
                    // * анімація 
                    transition: 
                        transform 
                        500ms 
                        ease-in-out;
                    // ! міксін outline
                    // @include outline($type: solid, $color: orange);
                    
                    @media screen and (min-width: getBreakPoint('desktop')) {
                        // position: static;
                        transform: translate(0); //!!! не працює
                        // left: 0; //!!! не працює
                        width: 100%;
                        // padding: 0 80px;
                        @include flex_JCsb;
                    }
                    
                    &__item {
                        position: relative;
                        width: 174px;
                        height: 197px;
                        //! ------------
                        @include flex_FDcol;
                        //! _________
                        padding: 9px;
                        border-radius: 15px;
                        // ! міксін outline
                        // @include outline($type: dashed, $color: yellow);
                        
                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            border-radius: 15px;
                            background-repeat: no-repeat;
                        }
                        &::before {
                            z-index: -1;
                            width: 167px;
                            height: 189px;
                            bottom: -6px;
                        }
                        &::after {
                            z-index: -2;
                            width: 158px;
                            height: 183px;
                            bottom: -12px;
                        }
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            padding: 49px 11px 29px 18px;
                            width: 255px;
                            height: 292px;
                            // border-radius: 15px;
                        }
                    }
                    
                    &__item:nth-child(1) {
                        background: 
                            linear-gradient(
                                135deg, 
                                #00e5e6 7.29%, 
                                #00a8f7 26.04%, 
                                #9a76f9 62.5%, 
                                #cc5ec2 100%
                            );
                        
                        &::before {
                            // todo var.1
                            // background-image:url(../images/reviews_background-item-one-first.png);
                            // todo var.2
                            background: 
                                linear-gradient(
                                    135deg, 
                                    rgba(0, 229, 230, 0.6) 7.29%, 
                                    rgba(0, 168, 247, 0.6) 26.04%, 
                                    rgba(154, 118, 249, 0.6) 62.5%, 
                                    rgba(204, 94, 194, 0.6) 100%
                                );
                        }
                        
                        &::after {
                            // todo var.1
                            // background-image:url(../images/reviews_background-item-one-second.png);
                            // todo var.2
                            background: 
                                linear-gradient(
                                    135deg, 
                                    rgba(0, 229, 230, 0.6) 7.29%, 
                                    rgba(0, 168, 247, 0.6) 26.04%, 
                                    rgba(154, 118, 249, 0.6) 62.5%, 
                                    rgba(204, 94, 194, 0.6) 100%
                                );
                        }
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            box-shadow:
                                0 14px 0 -5px #7b54b2,
                                0 30px 0 -13px #533978;
                        }
                    }
                    
                    &__item:nth-child(2) {
                        background: 
                            linear-gradient(
                                135deg, 
                                #ff68b4 0%, 
                                #ff45e1 26.04%, 
                                #ce3aff 62.84%, 
                                #8961ff 100%
                            );
                        
                        &::before {
                            background: 
                                linear-gradient(
                                    135deg, 
                                    #ff68b4 0%, 
                                    #ff45e1 26.04%, 
                                    #ce3aff 62.84%, 
                                    #8961ff 100%
                                );
                            opacity: 0.6;
                        }
                        
                        &::after {
                            background: 
                                linear-gradient(
                                    135deg, 
                                    #ff68b4 0%, 
                                    #ff45e1 26.04%, 
                                    #ce3aff 62.84%, 
                                    #8961ff 100%
                                );
                            opacity: 0.6;
                        }
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            box-shadow:
                                0 14px 0 -5px #9159b1,
                                0 30px 0 -13px #61337c;
                        }
                    }
                    
                    &__item:nth-child(3) {
                        background: 
                            linear-gradient(
                                135deg, 
                                #ffe128 0%, 
                                #ff9b5c 30.21%, 
                                #ff8381 63.29%, 
                                #ff5489 100%
                            );
                        
                        &::before {
                            background: 
                                linear-gradient(
                                    135deg, 
                                    #ffe128 0%, 
                                    #ff9b5c 30.21%, 
                                    #ff8381 63.29%, 
                                    #ff5489 100%
                                );
                            opacity: 0.6;
                        }
                        
                        &::after {
                            background: 
                                linear-gradient(
                                    135deg, 
                                    #ffe128 0%, 
                                    #ff9b5c 30.21%, 
                                    #ff8381 63.29%, 
                                    #ff5489 100%
                                );
                            opacity: 0.6;
                        }
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            box-shadow:
                                0 14px 0 -5px #b95a4c,
                                0 30px 0 -13px #732f26;
                        }
                    }
                    
                    &__review {
                        margin-bottom: 11px;
                        //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
                        font-size: if($lang == ua, 16px, 18px);
                        line-height: if($lang == ua, 1.05, 1.1);
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            margin-bottom: 8px;
                            //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
                            font-size: if($lang == ua, 19px, 24px);
                            line-height: if($lang == ua, 1.175, 1.17);
                        }
                    }
                    
                    &__date {
                        //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
                        // margin-bottom: if($lang == ua, 70px, 47px);
                        font-size: 14px;
                        line-height: 1.14;
                        color: getColor('font-third');
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
                            margin-bottom: if($lang == ua, 70px, 47px);
                            font-size: 14px;
                            line-height: 1.14;
                            color: getColor('font-third');
                        }
                    }
                    
                    &__reviewer-box {
                        flex-grow: 1;
                        padding-left: 5px;
                        @include flex_AIfe;
                        gap: 10px;
                        // ! міксін outline
                        // @include outline($color: black);
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            // display: flex;
                            // align-items: center;
                            @include flex_AIcen;
                            gap: 5px;
                        }
                    }
                    
                    &__reviewer-img {
                        // align-self: self-end;
                        margin-bottom: 14px;
                        border-radius: 50%;
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            // border-radius: 50%;
                        }
                    }
                    
                    &__reviewer-name {
                        margin-bottom: 1px;
                        font-size: 14px;
                        line-height: 1.14;
                    }
                    
                    &__reviewer-term {
                        width: 67px;
                        font-size: 12px;
                        color: $color-font-third;
                        
                        @media screen and (min-width: getBreakPoint('desktop')) {
                            width: 100%;
                        }
                    }
                }
            }

            .slider-buttons {
                position: absolute;
                top: 50%;
                top: calc(50% - 12px);
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% + 132px);
                height: 100px;
                @include flex_JCsb;
                // ! міксін outline
                // @include outline($type: dashed, $color: green);
                
                @media screen and (min-width: getBreakPoint('desktop')) {
                    display: none;;
                }
                
                &__item {
                    @include flex_JCcen-AIcen;
                    // ! міксін outline
                    // @include outline($type: dotted, $color: yellow);
                }
                
                &__left,
                &__right {
                    padding: 0;
                    // @include flex_JCcen-AIcen; //! svg {display: block;} в reset.css
                    border: none;
                    border-radius: 50%;
                    background-color: inherit;
                    box-shadow: 2px 2px 4px 2px rgba(15, 2, 56, 0.5);
                    // box-shadow: inset 0 0 16px 8px rgba(0, 0, 0, 0.3),
                    //             0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    //             0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    //             0 12.5px 10px rgba(0, 0, 0, 0.06),
                    //             0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    //             0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    //             0 100px 80px rgba(0, 0, 0, 0.12);
                    // ! міксін outline
                    // @include outline($type: dotted, $color: orange);
                }
                
                &__left:disabled,
                &__right:disabled {
                    cursor: not-allowed; 
                }
            }

            // todo +++++ var.2: Список Пагінації +++++
            .slider-pagination {
                position: absolute;
                // top: 120%;
                top: calc(100% + 20px);
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% + 132px);
                width: 100%;
                height: 8px;
                margin: 0 auto;
                // display: flex;
                // justify-content: space-between;
                // align-items: center;
                @include flex_JCsb-AIcen;
                // ! міксін outline
                // @include outline($type: dashed, $color: orange);
                
                @media screen and (min-width: getBreakPoint('desktop')) {
                    display: none;;
                }
                
                &__item {
                    width: 44px;
                    height: 6px;
                    border-radius: 4px;
                    background-color: getColor('pagination-buttons');
                    box-shadow: 2px 2px 4px 2px rgba(30, 36, 55, 0.5);
                    
                    transition:
                        color, height,
                        500ms
                        ease-in-out 
                        0ms;
                }
                
                // todo Початковий стан Списку Пагінації
                &__item:first-child {
                    height: 8px;
                    background-color: getColor('arrow-buttons');
                    box-shadow: 3px 3px 5px 3px rgba(221, 16, 16, 0.5);
                }
                
                &__item:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
