// ? reviews (BEM+SASS)
.reviews {
    height: 418px;
    padding-top: 50px;
    //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
    background-color: if($lang == ua, getColor('background-brand'), getColor('background-brand-2'));
    background-image:
        url(../images/reviews_background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    //! Вибір адаптивної чи респонсивної (чутливої) верстки.
    background-size: if($adaptive, auto, cover);
    
    @media screen and (min-width: getBreakPoint('desktop')) {
        height: 532px;
        padding: 45px 0 70px; 
        border-bottom: 2px solid getColor('light');
        background-image:url(../images/reviews_background-desktop.jpg);
    }

    .container {
        position: relative;
        height: 100%;
        padding-bottom: 159px;
        // ! міксін outline
        @include outline(1px, dashed, yellow);
        
        &::before {
            content: '';
            width: 171px;
            height: 221px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-image:url(../images/reviews_background-image-left-mobile.png);
            background-repeat: no-repeat;
        }
        
        &::after {
            content: '';
            width: 97px;
            height: 196px;
            position: absolute;
            right: 0px;
            bottom: 5px;
            background-image:url(../images/reviews_background-image-right-mobile.png);
            background-repeat: no-repeat;
        }

        .section-title {
            display: none;
            // @extend .section-title;
            
            @media screen and (min-width: getBreakPoint('desktop')) {
                display: block;
                margin-bottom: 24px;
            }
        }

        .slider-box {
            position: relative;
            width: 100%;
            height: 100%;
            @include outline($type: dotted);

            .reviews-list {
                display: none; //! тимчасово
                padding: 0 80px;
                @include flex_JCsb;
                // ! міксін outline
                // @include outline(1px, dotted, red);
                
                &__item {
                    display: none; //! тимчасово
                    padding: 49px 11px 29px 18px;
                    width: 255px;
                    // height: 292px;
                    border-radius: 15px;
                    // ! міксін outline
                    // @include outline(1px, dashed, yellow);
                }
                
                &__item:nth-child(1) {
                    background: 
                        linear-gradient(
                            135deg, 
                            #00e5e6 7.29%, 
                            #00a8f7 26.04%, 
                            #9a76f9 62.5%, 
                            #cc5ec2 100%
                        );
                    box-shadow:
                        0 14px 0 -5px #7b54b2,
                        0 30px 0 -13px #533978;
                }
                &__item:nth-child(2) {
                    background: 
                        linear-gradient(
                            135deg, 
                            #ff68b4 0%, 
                            #ff45e1 26.04%, 
                            #ce3aff 62.84%, 
                            #8961ff 100%
                        );
                    box-shadow:
                        0 14px 0 -5px #9159b1,
                        0 30px 0 -13px #61337c;
                }
                &__item:nth-child(3) {
                    background: 
                        linear-gradient(
                            135deg, 
                            #ffe128 0%, 
                            #ff9b5c 30.21%, 
                            #ff8381 63.29%, 
                            #ff5489 100%
                        );
                    box-shadow:
                        0 14px 0 -5px #b95a4c,
                        0 30px 0 -13px #732f26;
                }
    
                &__review {
                    margin-bottom: 8px;
                    //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
                    font-size: if($lang == ua, 19px, 24px);
                    line-height: if($lang == ua, 1.175, 1.17);
                }
                
                &__date {
                    //! var.2 - Вибір властивості для сторінки index-ua.html або index.html (eng)
                    margin-bottom: if($lang == ua, 70px, 47px);
                    font-size: 14px;
                    line-height: 1.14;
                    color: getColor('font-third');
                }
                
                &__reviewer-box {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    // ! міксін outline
                    // @include outline(1px, solid, black);
                }
                
                &__reviewer-img {
                    border-radius: 50%;
                }
                
                &__reviewer-name {
                    margin-bottom: 1px;
                    font-size: 14px;
                    line-height: 1.14;
                }
                
                &__reviewer-term {
                    font-size: 12px;
                    color: $color-font-third;
                }
            }

            .slider-buttons {
                position: absolute;
                top: 50%;
                /* left: 50%; */
                transform: translate(0, -50%);
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: space-between;
                /* align-items: center; */
                /* outline: 1px dashed teal; */
                @include outline($type: dashed, $color: green);
            }
        }
    }
}
