// todo var.2 Анімація на кнопці при події hover
@keyframes pulse-button {
    0% {
        transform: scale(1);
        // color: $color-buttons-hover; 
        // border: 1px solid $color-buttons-hover;
        // background-color: $color-brand-hover;
    }

    50% {
        transform: scale(1.05);
        color: $color-buttons-hover;
        border: 1px solid $color-buttons-hover;
        background-color: $color-brand-hover;
    }

    100% {
        transform: scale(1);
        // transform: scale(0.9);
        // color: $color-buttons-hover;
        // border: 1px solid$color-buttons-hover;
        // background-color:$color-brand-hover;
    }
}

@keyframes pulse-sneaker {
    0% {
        transform: 
            if(
                $lang == ua, 
                translate(10%, -1px) rotate(-41deg) scaleX(-1), 
                translate(91%, -1px) rotate(-30deg)
            );
    }

    50% {
        transform: 
            if(
                $lang == ua, 
                translate(10%, -1px) rotate(-42deg) scaleX(-1), 
                translate(91%, -1px) rotate(-31deg)
            );
    }

    100% {
        transform: 
            if(
                $lang == ua, 
                translate(10%, -1px) rotate(-41deg) scaleX(-1), 
                translate(91%, -1px) rotate(-30deg)
            );
    }
}