//todo Анімація-2 на кнопці при події hover
@keyframes pulse-button {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
        color: getColor('buttons-hover');
        border: 1px solid getColor('buttons-hover');
        background-color: getColor('brand-hover');
    }
    100% {
        transform: scale(1);
    }
}


//todo Анімація-2 в hero:after (mobile)
@keyframes pulse-sneaker-after-mobile {
    0% {
        transform: 
            if(
                $lang == ua, 
                translate(43%, 32px) rotate(-53deg) scaleX(-1),
                translate(53%, 5px) rotate(-33deg)
            );
    }
    50% {
        transform: 
            if(
                $lang == ua, 
                translate(43%, 32px) rotate(-54deg) scaleX(-1),
                translate(53%, 5px) rotate(-34deg)
            );
    }
    100% {
        transform: 
            if(
                $lang == ua, 
                translate(43%, 32px) rotate(-53deg) scaleX(-1),
                translate(53%, 5px) rotate(-33deg)
            );
    }
}


//todo Анімація-2 в hero:after (desktop)
@keyframes pulse-sneaker-after-desktop {
    0% {
        transform: 
            if(
                $lang == ua, 
                translate(10%, -1px) rotate(-41deg) scaleX(-1), 
                translate(91%, -1px) rotate(-30deg)
            );
    }
    50% {
        transform: 
            if(
                $lang == ua, 
                translate(10%, -1px) rotate(-42deg) scaleX(-1), 
                translate(91%, -1px) rotate(-31deg)
            );
    }
    100% {
        transform: 
            if(
                $lang == ua, 
                translate(10%, -1px) rotate(-41deg) scaleX(-1), 
                translate(91%, -1px) rotate(-30deg)
            );
    }
}


//todo Анімація-2 в hero:before (desktop)
@keyframes pulse-sneaker-before-desktop {
    0% {
        transform: translate(166%, -100px) rotate(-37deg);
    }
    50% {
        transform: translate(164%, -101px) rotate(-38deg);
    }
    100% {
        transform: translate(166%, -100px) rotate(-37deg);
    }
}
