// @import "../utils/mixins";

//! ===========  ОСНОВНІ Контейнери  ===========
// .main-container {
//     width: 1440px;
//     margin: 0 auto;
//     // outline: 1px dashed #0ceb17; 
// }

.container {
    // min-width: 360px;
    // width: 1110px;
    // max-width: 1110px;

    width: 100%;
    // max-width: 100%;
    // padding: 0 165px;
    margin: 0 auto;
    // outline: 1px dashed tomato;
    // ! міксін outline
    //todo var.1
    // @include outline(1px, dashed, tomato);
    //todo var.2
    // @include outline();
    // @include outline(3px);
    // @include outline($type: dashed);

    //! Медіа-запити
    // @media screen and (min-width: $mobile) {
    //     width: 360px;
    // }
    //? var-03.map-get --> getBreakPoint
    @media screen and (min-width: getBreakPoint('mobile')) {
        max-width: getBreakPoint('mobile');
        // width: 360px;
        //! Вибір адаптивної чи респонсивної (чутливої) верстки.
        max-width: if($adaptive, getBreakPoint('mobile'), 100vw);
        // padding: 0 50px;
        //! Вибір адаптивної чи респонсивної (чутливої) верстки.
        padding: if($adaptive, 0 50px, 0 calc(165px + ((100vw - getBreakPoint('mobile')) * 0.2)));
    }

    @media screen and (min-width: getBreakPoint('tablet')) {
        padding-top: 92px; //! для Фіксований header 
        max-width: getBreakPoint('tablet');
        // width: 768px;
        padding: 0 100px;
    }

    @media screen and (min-width: getBreakPoint('desktop')) {
        // max-width: getBreakPoint('desktop');
        // width: 1440px;
        //! Вибір адаптивної чи респонсивної (чутливої) верстки.
        max-width: if($adaptive, getBreakPoint('desktop'), 100vw);
        // padding: 0 165px;
        //! Вибір адаптивної чи респонсивної (чутливої) верстки.
        padding: if($adaptive, 0 165px, 0 calc(165px + ((100vw - getBreakPoint('desktop')) * 0.2)));
    }
}
