//! ----------- 01.Міксін outline -----------
// outline: 1px dotted yellowgreen;

//todo var.1 
@mixin outline($size: 1px, $type: solid, $color) {
    outline: $size $type $color;
}

//todo var.2 
// @mixin outline($size: 1px, $type: solid, $color: tomato) {
//     outline: $size $type $color;
// }


//!--- 02.Міксін для 01.@each - цикла для додавання фонових зображень advantages_...в advantages -----------
//todo var.2
@mixin generateIcons($iconList) {
    @each $iconName in $iconList {
        &__item--#{$iconName} {
            background-image: 
                url(../images/advantages_#{$iconName}.png);
        }
    }
}

//!--- Міксін-цикл - для додавання фонових advantages-item-number_... зображень в advantages-2 -----------
@mixin generateIconsItemNumber($iconList) {
    @each $iconName in $iconList {
        &>.advantages-list__item--#{$iconName} {
            background-image: 
                url(../images/advantages-item-number_#{$iconName}.svg),
                url(../images/advantages-image_#{$iconName}.png);
        }
    }
}

//!--- Міксін-цикл - для додавання фонових benefits_point-... зображень в benefits -----------
@mixin generatePointImages($imageList) {
    @each $imageName in $imageList {
        &--#{$imageName} {
            background-image: 
                url(../images/benefits_point-circle.svg),
                url(../images/benefits_point-#{$imageName}.png);
            background-repeat: no-repeat;
            background-position: center;
            //! Вибір адаптивної чи респонсивної (чутливої) верстки.
            background-size: if($adaptive, auto, cover);
        }
    }
}

//! ----------- flex-властивості (flex-контейнери) -----------
@mixin flex_AIcen {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex_JCsb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex_JCsa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin flex_JCcen-AIcen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex_JCfs-AIcen {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex_JCfe-AIcen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex_JCsb-AIcen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_JCfe-AIcen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex_FDcol-AIcen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//todo поки не  використовувається
// @mixin flex_AIfe {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-end;
// }
// @mixin flex_JCsb-AIfe {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: flex-end;
// }
// @mixin flex_JCse {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
// }
